.imagen_galeria{
    background-color: burlywood;
    height: 50%;
    width: auto;
}

.galeria_titulo{
    background-color: cadetblue;
}

.imagen_videos{
    height: 50%;
    height: auto;
}

.imagen_freebies{
    height: 50%;
    height: auto;
}