body{
    background-color: rgb(204, 204, 204);
}

.ficha_1{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_otis{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}

.ficha_2{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_personaje2{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}

.ficha_3{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_personaje3{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}

.ficha_4{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_personaje4{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}

.ficha_5{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_personaje5{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}

.ficha_6{
    background-color: lightgreen;
    border: 1px solid black;
}

.quote_personaje6{
    background-color: rgb(188, 243, 188);
    border: 1px solid black;
}
