body {
    background-color: thistle;
    margin:0 auto;
    padding: 0 ;
    color: darkblue;
}
.fondo_trama{
    background-color: thistle;
}

.slider_trama{
    width: 100%;
    height:auto;
    min-width: 30px;
}

.slider_imagenes{
    width: 50%;
    height: auto;
    min-width: 50px;
}